.indexHeader {
    background-color: blue;
    height: 20vh;
    width: 100vw;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
}

.headerText {
    font-size: 5vh;
    margin-top: 0vh;
    padding: 0;
}

.mainContent {
    background-color:indigo;
    height: 80vh;
    width: 100vw;
    overflow: hidden;
}

.subHeader {
    text-align: center;
    margin-top: 5%;   
    background-color: white;
    height: 28.888%;
    width: 65%;
}

.subHeader p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

p {
    font-size: 1.3rem;
}

.mainButtons {
    text-align: center;
}

.block {
    width:100%;
    background-color: white;
}

.buttons {
    margin-top: 3%;
}

.homebar {
    background-color: black;
    height: 100%;
}

.regPageHeader {
    height: 100%;
}